In [ ]:
# Cell 1: Setup with BOTH magic commands
from sqlalchemy import create_engine, text
from snowflake.sqlalchemy import URL
from IPython.core.magic import register_cell_magic
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()

engine = create_engine(
    URL(
        account='TEYCTZZ-RDB12052',
        user='BARDIN30',
        password=os.getenv('SNOWFLAKE_PASSWORD'),
        database='TASTY_BITES',
        schema='PUBLIC',
        warehouse='COMPUTE_WH'
    ),
    connect_args={
        'AUTOCOMMIT': True  # <-- Add this
    }
)

# Magic 1: Display only (multiple statements OK)
@register_cell_magic
def sf(line, cell):
    """Execute Snowflake SQL and display results (no return value)"""
    with engine.connect() as conn:
        conn.execute(text("ALTER SESSION SET AUTOCOMMIT = TRUE"))
        statements = [s.strip() for s in cell.split(';') if s.strip()]

        for i, stmt in enumerate(statements, 1):
            result = conn.execute(text(stmt))
            try:
                df = pd.DataFrame(result.fetchall(), columns=result.keys())
                if not df.empty:
                    print(f"\n=== Result {i}: {stmt[:60]}... ===")
                    display(df)
            except:
                print(f"✓ {i}. Executed: {stmt[:60]}...")

        return None  # Never returns a value

# Magic 2: Capture result (single statement only)
@register_cell_magic
def sfget(line, cell):
    """Execute Snowflake SQL and return as DataFrame for variable assignment"""
    with engine.connect() as conn:
        conn.execute(text("ALTER SESSION SET AUTOCOMMIT = TRUE"))
        result = conn.execute(text(cell.strip()))
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
        return df  # Returns for assignment

print("✓ Connected")
print("  Use %%sf for display")
print("  Use %%sfget for capturing results")

✓ Connected
  Use %%sf for display
  Use %%sfget for capturing results

In [83]:
%%sfget
SHOW TABLES IN staging_tasty_bytes.raw_customer;

,created_on,name,database_name,schema_name,kind,comment,cluster_by,rows,bytes,owner,...,search_optimization_progress,search_optimization_bytes,is_external,enable_schema_evolution,owner_role_type,is_event,is_hybrid,is_iceberg,is_dynamic,is_immutable
0,2026-01-09 09:18:16.650000-08:00,CUSTOMER_LOYALTY,STAGING_TASTY_BYTES,RAW_CUSTOMER,TABLE,,,222540,4888064,ACCOUNTADMIN,...,None,None,N,N,ROLE,N,N,N,N,N

In [84]:
%%sf
-- Set context
USE ROLE accountadmin;
USE DATABASE staging_tasty_bytes;
USE SCHEMA raw_pos;
USE WAREHOUSE compute_wh;

=== Result 1: -- Set context
USE ROLE accountadmin... ===

                             status
0  Statement executed successfully.

=== Result 2: USE DATABASE staging_tasty_bytes... ===

                             status
0  Statement executed successfully.

=== Result 3: USE SCHEMA raw_pos... ===

                             status
0  Statement executed successfully.

=== Result 4: USE WAREHOUSE compute_wh... ===

                             status
0  Statement executed successfully.

In [85]:
%%sf
SHOW TABLES IN staging_tasty_bytes.raw_customer;
SHOW TABLES IN staging_tasty_bytes.raw_pos;

=== Result 1: SHOW TABLES IN staging_tasty_bytes.raw_customer... ===

,created_on,name,database_name,schema_name,kind,comment,cluster_by,rows,bytes,owner,...,search_optimization_progress,search_optimization_bytes,is_external,enable_schema_evolution,owner_role_type,is_event,is_hybrid,is_iceberg,is_dynamic,is_immutable
0,2026-01-09 09:18:16.650000-08:00,CUSTOMER_LOYALTY,STAGING_TASTY_BYTES,RAW_CUSTOMER,TABLE,,,222540,4888064,ACCOUNTADMIN,...,None,None,N,N,ROLE,N,N,N,N,N

=== Result 2: SHOW TABLES IN staging_tasty_bytes.raw_pos... ===

,created_on,name,database_name,schema_name,kind,comment,cluster_by,rows,bytes,owner,...,search_optimization_progress,search_optimization_bytes,is_external,enable_schema_evolution,owner_role_type,is_event,is_hybrid,is_iceberg,is_dynamic,is_immutable
0,2026-01-09 12:30:40.044000-08:00,COUNTRY,STAGING_TASTY_BYTES,RAW_POS,TABLE,,,0,0,ACCOUNTADMIN,...,None,None,N,N,ROLE,N,N,N,N,N
1,2026-01-09 10:06:27.384000-08:00,DAILY_SALES_HAMBURG,STAGING_TASTY_BYTES,RAW_POS,TABLE,,,0,0,ACCOUNTADMIN,...,None,None,N,N,ROLE,N,N,N,Y,N
2,2026-01-09 09:18:15.306000-08:00,FRANCHISE,STAGING_TASTY_BYTES,RAW_POS,TABLE,,,335,14848,ACCOUNTADMIN,...,None,None,N,N,ROLE,N,N,N,N,N
3,2026-01-09 09:18:15.517000-08:00,LOCATION,STAGING_TASTY_BYTES,RAW_POS,TABLE,,,13093,339968,ACCOUNTADMIN,...,None,None,N,N,ROLE,N,N,N,N,N
4,2026-01-09 09:18:15.713000-08:00,MENU,STAGING_TASTY_BYTES,RAW_POS,TABLE,,,100,15872,ACCOUNTADMIN,...,None,None,N,N,ROLE,N,N,N,N,N
5,2026-01-09 09:18:16.401000-08:00,ORDER_DETAIL,STAGING_TASTY_BYTES,RAW_POS,TABLE,,,55968589,295239168,ACCOUNTADMIN,...,None,None,N,N,ROLE,N,N,N,N,N
6,2026-01-09 09:18:16.199000-08:00,ORDER_HEADER,STAGING_TASTY_BYTES,RAW_POS,TABLE,,,20671294,264864256,ACCOUNTADMIN,...,None,None,N,N,ROLE,N,N,N,N,N
7,2026-01-09 09:18:15.971000-08:00,TRUCK,STAGING_TASTY_BYTES,RAW_POS,TABLE,,,450,12288,ACCOUNTADMIN,...,None,None,N,N,ROLE,N,N,N,N,N

In [90]:
%%sf
DROP TABLE STAGING_tasty_bytes.raw_pos.country;
CREATE OR ALTER TABLE STAGING_tasty_bytes.raw_pos.country
(
   country_id NUMBER(18,0),
   country VARCHAR(16777216),
   iso_currency VARCHAR(3),
   iso_country VARCHAR(2),
   city VARCHAR(16777216),
   city_population VARCHAR(16777216),
   city_id NUMBER(19,0)
);

=== Result 1: DROP TABLE STAGING_tasty_bytes.raw_pos.country... ===

                          status
0  COUNTRY successfully dropped.

=== Result 2: CREATE OR ALTER TABLE STAGING_tasty_bytes.raw_pos.country
(
... ===

                                status
0  Table COUNTRY successfully created.

In [91]:
%%sf
--country table load
COPY INTO STAGING_tasty_bytes.raw_pos.country
(
   country_id,
   country,
   iso_currency,
   iso_country,
   city_id,
   city,
   city_population
)
FROM @STAGING_tasty_bytes.public.s3load/raw_pos/country/;

=== Result 1: --country table load
COPY INTO STAGING_tasty_bytes.raw_pos.c... ===

,file,status,rows_parsed,rows_loaded,error_limit,errors_seen,first_error,first_error_line,first_error_character,first_error_column_name
0,s3://sfquickstarts/tasty-bytes-builder-educati...,LOADED,30,30,1,0,None,None,None,None

In [92]:
%%sf
SELECT * FROM STAGING_tasty_bytes.raw_pos.country;

In [93]:
%%sf
SHOW PARAMETERS LIKE 'AUTOCOMMIT' IN SESSION;

=== Result 1: SHOW PARAMETERS LIKE 'AUTOCOMMIT' IN SESSION... ===

,key,value,default,level,description,type
0,AUTOCOMMIT,false,true,SESSION,The autocommit property determines whether is ...,BOOLEAN